<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            {% if form.errors %}
            {{form.errors}}
            {% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            <div>
                {{form.time}}
            </div>
            <div>
                {{form.age}}
            </div>
            <div>
                {{form.country}}
            </div>
            {% for message in messages %}
            <span style="color: green;">{{message}}</span>
            {% endfor %}
            <div>
                <button type="submit">Apply</button>
            </div>
        </form>
        </div>
    </body>
</html>